server {
    listen       {{config['port']}};

    {% for publish in config['publishes'] -%}
    location /{{publish}}/ {
        alias {{config['publishes'][publish]}}/;
        autoindex on;
    }
    {% endfor -%}
}
